[
 %% erlyetl config
 {erlyreader, [{webport, 8001},
            %% These are developer ids and secret linked to localhost:8001
            {google_client_id, <<"563942011981-7bs7f4ptpspqrplbirnh51omv0bn9odt.apps.googleusercontent.com">>},
            {google_client_secret, <<"YJ4nWcrpf6Jpw1SB_ZgST6tx">>}]}, 
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]}
].

